body {
    color: white;
    background: rgb(27, 23, 23);
}

.heading {
    width: 80%;
    font-size: 22px;
}
#camera {
        border: 2px dashed black;
        width: 350px;
        height: 300px;
    }

    .name_of_objects,    #object_name, #object_accuracy {
        color: yellow;
    }